.navbar-orange {
    background-color: #e96130;
  }
  
  .navbar-orange .navbar-brand,
  .navbar-orange .nav-link,
  .navbar-orange .navbar-toggler-icon,
  .navbar-orange .dropdown-item {
      color: white !important;
  }
  
  .navbar-orange .dropdown-menu {
      background-color: orange;
  }
  
  .navbar-orange .dropdown-item:hover {
      background-color: darkorange;
  }
  
  .navbar-orange .dropdown-item:focus, 
  .navbar-orange .dropdown-item:active {
      background-color: darkorange;
  }